<div>
	<div class="row gallery">
		<div ng-repeat="(key,album) in vm.albums"
			 class="col-xs-6 col-sm-4 col-lg-3">
			<div class="thumbnail" ng-click="vm.goToAlbum(album.title_url)">

				<img image-preloader 
		             ng-src="/uploaded/images/{{ album.cover.filename }}"
		             >

				<a  ng-href="/#/album/{{ album.title_url }}"
					data-toggle="modal" data-target="#newTeather">

					<span class="album-title">
					<!-- 	{{ album.title }} -->
					</span>

	       		 </a>

		    </div>			
			
	    </div>
	</div>
</div>