<div class="modal clearfix fade" id="newTeather" tabindex="-1"
	 role="dialog" aria-labelledby="newTeather">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div ng-repeat="(key,file) in vm.album.images"
             ng-class="{'hidden': !file.active}">

          
              <img image-preloader class="center-block img-responsive" 
              ng-src="/uploaded/images/{{ file.filename }}" />
        </div>

      </div>

      <div class="arrow next">
        <a>
          <img src="app/media/images/arrow-right.png">
        </a>
      </div>

      <div class="arrow previous">
        <a>
          <img src="app/media/images/arrow-left.png">
        </a>
      </div>

      <div class="modal-footer">
        <p>{{ vm.album.title }}</p>
         <p><b>&nbsp;{{ vm.album.date }}</b></p>
      </div>
    </div>
  </div>
</div>