<ul ng-show="!vm.waiting">
	<li>
		<span class="album-date">{{ vm.currentAlbumDate }}</span>
	</li>
	<li class="album-link" ng-repeat="album in vm.albums">
		<span 
			ng-mouseover="vm.currentAlbumDate = album.date"
			ng-mouseleave="vm.currentAlbumDate = null">	
					
			<a ng-href="/#/album/{{ album.title_url }}">
				<span ng-class="{'highlight': album.new}">
				{{ album.title }}
				</span>
			</a>			
		</span>
	</li>
</ul>
<ul ng-if="vm.isLogged">
	<li>
		<input type="text" ng-model="vm.newAlbumTitle" placeholder="{{ vm._.album.newAlbum }}"></input>
	</li>
</ul>
<ul>
	<li>
		<span spinner ng-show="vm.waiting"></span>
	</li>
</ul>