<form id="file-upload-form">
	<div class="form-group" ng-show="!vm.waiting">
		<input id="files" name="images[]" type="file" multiple>
		<div class="dropzone">
			<div	
				id="file-drop-zone"			
				ng-if="vm.dropZone">
				{{ vm._.dropFilesHere }}
			</div>			
		</div>
	</div>
	<button ng-if="!vm.waiting"
			ng-click="vm.doUpload(vm.albumId)" 
			class="btn btn-primary">	
		{{ vm._.upload }}
	</button>

			<div progress-bar
				 ng-show="vm.waiting" 	 
				 label="vm._.uploading + '...'"
				 loaded="vm.percentLoaded">			
			</div>
</form>