<div>{{ vm.label }}</div>
<div class="progress">
	<div
		class="progress-bar" 
		role="progressbar" 
		 aria-valuenow="{{vm.loaded}}"
		 aria-valuemin="0" 
		 aria-valuemax="100" 
		 style="width: {{vm.loaded}}%">
		    <span>{{vm.loaded}}%</span>
	</div>
</div>