<div ng-switch="vm.isLoading">

	<div ng-switch-when="false"
         ng-switch="vm.loaded"
         class="container-fluid">

		<div ng-show="!vm.noImagesFound"
			 showModal="(!vm.noImagesFound)"
			 ng-switch-when="true" 
			 teather album="vm.album">

		</div>

		<div class="center-block" ng-show="vm.noImagesFound">
          <h3>{{ vm.labels.noImagesFound }}</h3>
        </div>

        <form class="form-inline" ng-if="vm.isLogged && !vm.waiting">
        	<h4>{{ vm.labels.form.editFormTitle }}</h4>
        	<p ng-if="vm.updateMessage != 1" class="bg-danger">{{ vm.updateMessage }}</p>
	        	<div class="form-group">
					<label for="title">{{ vm.labels.form.title }}</label>
					<input
						id="title"
						type="text"
						ng-model="vm.album.title"
						class="form-control">
					</input>
				</div>
				<div class="form-group">
					<label for="date">{{ vm.labels.form.date }}</label>
					<input
						id="date"
						type="text"
						ng-model="vm.album.date"
						class="form-control">
					</input>
				</div>
			
				<div class="form-group">
					<label for="title">{{ vm.labels.form.text }}</label>
					<input
						id="text"
						type="text"
						ng-model="vm.album.text"
						class="form-control">
					</input>
				</div>
				<div class="form-group">
					<button ng-click="vm.doUpdate()" class="btn btn-primary">
					<span ng-show="!vm.updating">
						{{ vm.labels.form.save }}
					</span>
					<span ng-if="vm.updateMessage == 1" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					<span spinner ng-show="vm.updating"></span>
					</button>
					
				</div>
		</form>

		<form ng-if="vm.isLogged && !vm.waiting">
        	<h4>{{ vm.labels.form.uploadFormTitle }}</h4>
        	<div file-upload album-id="vm.album.album_id">
        	</div>
        </form>
        
		<ul ng-if="vm.isLogged" class="row gallery logged"
			ng-switch-when="true" data-ng-model="vm.album.images"
			data-as-sortable="vm.sortableOptions">
			<span>{{ vm.labels.form.reorderTitle }}</span>
			<li ng-repeat="(key,file) in vm.album.images"
				 class="album-image"
				 data-as-sortable-item>

				<a ng-click="vm.openTeather(key)"
				   class="thumbnail"
				   data-toggle="modal"
				   data-target="#newTeather"
				   data-as-sortable-item-handle>

				 	<div class="thumbnail">
				        <img
				          image-preloader
				          class="" 
				          ng-src="/uploaded/images/{{ file.filename }}" />
				    </div>
		        </a>
		    </li>
		</ul>

		<ul ng-if="!vm.isLogged"
			class="row gallery notlogged"
		    ng-switch-when="true">

			<li ng-repeat="(key,file) in vm.album.images"
				class="col-xs-6 col-sm-3 col-lg-2 album-image">

				<a ng-click="vm.openTeather(key)"
				   class="thumbnail"
				   data-toggle="modal"
				   data-target="#newTeather">

				 	<div class="thumbnail">
				        <img
				          image-preloader
				          class="" 
				          ng-src="/uploaded/images/{{ file.filename }}" />
				    </div>
		        </a>
		    </li>
		</ul>

	</div>

	<div ng-switch-when="true" class="row">
		<div class="container-fluid col-md-12">
			<div class="loading-teather center-block">
				<div progress-bar
					 label="_scope._.loading + ' album...'"
					 loaded="vm.percentLoaded">
				</div>
			</div>
		</div>
	</div>

</div>